{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
    <div class="container row">
        <div class="col-md-4">
            <!-- popular movies section -->
    <h3>Popular Movies</h3>
    <ul>
        {{ macro.displayMovieList(popular)}}
    </ul>
        </div>
        <div class="col-md-4">
            <!-- Upcoming movie section -->
            <h3>Upcoming Movies</h3>
            <ul>
                {{ macro.displayMovieList(upcoming)}}
            </ul>
        </div>
        <div class="col-md-4">
            <!-- now showing movies -->
            <h3>Now showing </h3>
            <ul>
                {{macro.displayMovieList(now_showing)}}
            </ul>
        </div>
    </div>

    {% endblock %}